<main class="container space-y-6 px-4 py-12 max-w-2xl">
    <header class="mb-8">
        <h1 class="font-space text-2xl md:text-3xl tracking-tight text-charcoal">William Leemans</h1>
    </header>

    <section class="space-y-6 text-ash text-md leading-relaxed ">
        <p>
            Salut ! Moi c’est William, entrepreneur et architecte logiciel,
            passionné par l’art de comprendre des problèmes complexes et de leur trouver des solutions élégantes.
        </p>
        <p>
            Donner vie à des idées et les transformer en produits utiles est ce qui me motive le plus.
            J’aime concevoir des solutions qui allient élégance, robustesse et sens du détail.
        </p>
        <p>
            Je suis le co-fondateur et CTO de Jetdev, où je conçois et pilote des projets, pour des clients comme pour nos propres produits. Depuis plus de dix ans, j’ai accompagné Kiabi, Exotec, Decathlon, Electro Depot et contribué à créer Scanzee et Distract.
        </p>
        <p>
            J’aime apprendre et partager mes découvertes lors de présentations, d’articles et d’ateliers.
        </p>
        <p>
            En dehors du code, je me plonge dans des univers immersifs : jeux vidéo, romans graphiques, lectures captivantes.
            Je joue aussi un peu de musique, j’aime cuisiner avec ma femme, ou partager un bon jeu de société entre amis.
        </p>
    </section>
</main>


<style>
    h1 {
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
</style>