---
---
<main class="px-4 py-12 max-w-2xl">
    <header class="mb-8">
        <h1 class="font-space text-2xl md:text-3xl tracking-tight text-charcoal">William Leemans</h1>
    </header>

    <section class="text-ash prose">
        <p>
            Salut ! Moi c’est William, entrepreneur et architecte logiciel,
            passionné par l’art de comprendre des problèmes complexes et de leur trouver des solutions élégantes.
        </p>
        <p>
            Donner vie à des idées et les transformer en produits utiles, voilà ce qui me motive.
            J’aime concevoir des solutions alliant simplicité, robustesse et sens du détail.
        </p>
        <p>
            Je suis le co-fondateur et CTO de Jetdev, où je conçois et pilote des projets, pour des clients comme pour
            nos propres produits. Depuis plus de dix ans, j’ai accompagné Kiabi, Exotec, Decathlon, Electro Depot et
            contribué à créer Scanzee et Distract.
        </p>
        <p>
            J’aime apprendre et partager mes découvertes lors de présentations, d’articles et d’ateliers.
        </p>
        <p>
            En dehors du code, je me plonge dans des univers immersifs : jeux vidéo, romans graphiques, lectures
            captivantes.
            Je joue aussi un peu de musique, j’aime cuisiner avec ma femme, ou partager un bon jeu de société entre
            amis.
        </p>
        <p>
            <span>Vous pouvez aussi me retrouver sur</span>
            <a
                    target="_blank"
                    href="https://github.com/Ly4m"
                    class="inline-flex items-center gap-1">
                <span class="icon-[tabler--brand-github] text-lg" aria-hidden="true"></span>
                Github
            </a>
            <span>et</span>
            <a
                    target="_blank"
                    href="https://www.linkedin.com/in/wleemans"
                    class="inline-flex items-center gap-1">
                <span class="icon-[tabler--brand-linkedin] text-lg" aria-hidden="true"></span>
                LinkedIn
            </a>.
        </p>
    </section>
</main>

<style>
    a {
        font-weight: inherit;
        text-decoration: none;
        border-bottom: 1px solid rgba(125, 125, 125, .3);
        transition: border .3s ease-in-out;

        &:hover {
            border-bottom: 1px solid var(--color-charcoal);
        }
    }

</style>