---
import Layout from "../../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
---

<Layout title="William Leemans — Now" ogImage="/og/home.jpg">
  <div class="max-w-2xl">
    <header class="py-8 md:py-12">
      <h1 class="font-space text-charcoal text-2xl tracking-tight md:text-3xl">
        Now
      </h1>
    </header>
    <main class="text-ash max-w-2xl">
      <p>
        Ce qu'il se passe dans ma vie en ce moment, inspiré par <a
          target="_blank"
          referrerpolicy="no-referrer"
          href="https://nownownow.com/about">nownownow.com</a
        >
      </p>
      <p>Mis à jour le 3 novembre 2025 en mangeant les bonbons d'Halloween.</p>
      <h2>Projets</h2>
      <p>
        Ce site est mon side-project principal pour le moment, j'aimerais
        construire une base solid sur laquelle je vais pouvoir continuer a
        construire. C'est aussi pour moi l'occasion de m'essayer au design.
      </p>
      <h2>Travail</h2>
      <p>
        En ce moment je passe la majorité de mon temps de consulting chez
        Electro Depot sur un projet avec une vraie approche craftsmanship. ( Et en plus j'ai l'occasion de tinker avec
        une imprimante thermique )
      </p>
      <p>
        Chez Jetdev, je travail sur la mise au point des parcours de carrière et
        notre intégratio dans la communauté tech locale.
      </p>
      <h2>Apprentissage</h2>
      <p>
        Tests en cours de Fresh 2 avec deno mais je ne suis pas convaincu pour
        l'instant.
      </p>
      <p>
        Je creuse aussi le monde des animations sur le web et surtout l'animation de SVG.
      </p>
      <h2>Lecture</h2>
      <p>Je suis à la moitié de cette belle brique qu'est "The Pillars of the Earth" par Ken Follett.</p>
      <p>
        Je viens de finir le roman graphique "Sa Majesté des mouches" par Aimée de
        Jongh.
      </p>
      <h2>Gaming</h2>
      <p>
        Trop de jeux en ce moment, mais surtout le remake de Silent Hill 2 afin de
        terminer la periode d'Halloween en beauté.
      </p>
      <p>
        Sinon en fil rouge j'alterne entre Hollow Knight: Silksong, Hades II et Absolum sur ma Switch 2.
      </p>
    </main>
  </div>
</Layout>

<style>
  h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p + p {
    margin-top: 1rem;
  }

  main {
    margin-bottom: 10rem;
  }

  a {
    text-decoration: underline;
  }
</style>
