---
import Layout from "../../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
---

<Layout title="William Leemans — Now" ogImage="/og/home.jpg">
  <header class="py-12">
    <h1 class="font-space text-charcoal text-2xl tracking-tight md:text-3xl">
      Now
    </h1>
  </header>
  <main class="text-ash max-w-2xl">
    <p>
      Things going on in my life right now, inspired by <a
        target="_blank"
        referrerpolicy="no-referrer"
        href="https://nownownow.com/about">nownownow.com</a
      >
    </p>
    <p>Updated November 3, 2025 eating candy from Halloween.</p>
    <h2>Projects</h2>
    <p>
      This website is my main current project building a solid base I can
      improve upon as I sharpen my design skills.
    </p>
    <h2>Working</h2>
    <p>
      Currently spending most of my consulting time with Electro Depot, having a
      great time tinkering with a thermal printer to print receipts.
    </p>
    <p>
      At Jetdev I'm working on building better career path and growing our tech
      community.
    </p>
    <h2>Learning</h2>
    <p>Trying Fresh 2 with deno but not liking it much so far.</p>
    <p>Learning GSAP and PixiJS to add some swag on this website.</p>
    <p>
      Currently deep diving into Kafka as I need to step up my game on that.
    </p>
    <h2>Reading</h2>
    <p>I'm at the half of The Pillars of the Earth by Ken Follett.</p>
    <p>
      Just finished the graphic novel "Sa Majesté des mouches" by Aimée de Jongh
    </p>
    <h2>Gaming</h2>
    <p>
      Too many games at the same time, finishing Silent Hill 2 Remake as the
      spooky season ends.
    </p>
    <p>
      I keep alternating between Hollow Knight: Silksong, Hades II and Absolum
      on my Switch 2.
    </p>
  </main>
</Layout>

<style>
  h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p + p {
    margin-top: 1rem;
  }

  main {
    margin-bottom: 10rem;
  }

  a {
    text-decoration: underline;
  }
</style>
