---
import '../styles/global.css'
import '@fontsource/space-grotesk';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>William Leemans</title>
	</head>
	<body class="m-[8px] py-[5vh] px-[10vw] bg-primary-100 antialiased">
		<slot />
	</body>
</html>
